[buildout]

parts =
    fika
    pydev
    test

eggs =
    coverage
    nose
    waitress
    pyramid_debugtoolbar
    fika


#Managed by Mr Developer
develop = .

newest = false
prefer-final = true
eggs-directory = ${buildout:directory}/eggs
download-cache =

extensions = 
    mr.developer

# mr.developer settings:
sources = sources
auto-checkout = *

versions = versions


[fika]
recipe = zc.recipe.egg
dependent-scripts = true
unzip = true
eggs =
    ${buildout:eggs}
interpreter = py


[pydev]
recipe = pb.recipes.pydev
pydevproject_path = ${buildout:directory}/.pydevproject
eggs = ${buildout:eggs}
extra_paths = ${buildout:directory}/lib/python2.7/


[test]
recipe = pbp.recipe.noserunner
eggs = 
    pbp.recipe.noserunner
    ${buildout:eggs}
working-directory = ${buildout:directory}
defaults =
    --detailed-errors
    --nocapture
    --cover-package=fika
    --with-coverage
    --cover-erase
    --with-doctest
    --doctest-tests
    --doctest-extension=txt


[sources]


[versions]
colander = 1.0b1
pyramid-debugtoolbar = 1.0.9
js.tinymce = 3.5.2-1
