[buildout]

parts =
    fika
    pydev
    test

eggs =
    coverage
    nose
    waitress
    pyramid_debugtoolbar
    fika
    enum34
    arche_external_resource


#Managed by Mr Developer
develop = .

newest = false
prefer-final = true
eggs-directory = ${buildout:directory}/eggs
download-cache =

extensions = 
    mr.developer

# mr.developer settings:
sources = sources
auto-checkout = *

versions = versions


[fika]
recipe = zc.recipe.egg
dependent-scripts = true
unzip = true
eggs =
    ${buildout:eggs}
interpreter = py


[pydev]
recipe = pb.recipes.pydev
pydevproject_path = ${buildout:directory}/.pydevproject
eggs = ${buildout:eggs}
extra_paths = ${buildout:directory}/lib/python2.7/


[test]
recipe = pbp.recipe.noserunner
eggs = 
    pbp.recipe.noserunner
    ${buildout:eggs}
working-directory = ${buildout:directory}/fika
defaults =
    --detailed-errors
    --nocapture
    --cover-package=fika
    --with-coverage
    --cover-erase
    --with-doctest
    --doctest-tests
    --doctest-extension=txt


[sources]
#Readonly:
#Arche = git git://github.com/ArcheProject/Arche.git
#SSH:
Arche = git git@github.com:ArcheProject/Arche.git

#Readonly:
#arche_external_resource = git git://github.com/ArcheProject/arche_external_resource.git
#SSH:
arche_external_resource = git git@github.com:ArcheProject/arche_external_resource.git


[versions]
deform = 2.0a2
colander = 1.0b1
js.bootstrap = 3.0.2
pyramid = 1.5
