.nav .profile-image {
    margin: -5px 0;
}
.description {
    font-weight: bold;
}
.collapser{
	display:block;
}

.fika-media-button
{
	display:inline;
}

.fika-media-button:hover
{
	text-decoration:none;
}

.panel-title a{
	text-decoration:none;
}

.fika-media-panel
{
	border: 0px;
	box-shadow:none;
}

.fika-enroll-button-right
{
	float:right;
	margin-top:-5px;
}

.dotless
{
	list-style-type: none;
	margin-left:-15px;
}

/* override Arche */

a.navbar-brand{
	padding: 15px;
}


/* bootstrap specific */
.btn-add, .panel-add {
    border-style: dashed;
}

.panel-group-with-overflow {
	overflow:visible !important;
}

table.table-bottom-border td:last-of-type{
	border-bottom:1px solid #DDD;
}

/* navbar buttons compressed into icons on small screen */
.fika-nav-button-text{
    display:inline;
}
.navbar-header .fika-nav-button-text{
	display:none;
}

.navbar-header > .navbar-nav > li
{
    float:left;
}


@media (min-width: 768px)
{
    .fika-nav-button-text{
        display:none;
    }
}
@media (min-width: 1200px)
{
    .fika-nav-button-text, .navbar-header .fika-nav-button-text{
        display:inline;
    }
}
